<ion-view view-title="Contact">



<input type="text" ng-model="name" required >
<input type="text" ng-model="city" required >
<input type="text" ng-model="country" required >


 
<button class="button button-block button-royal ExploreBtn" ng-click="sendMail();">
Send mail               
</button>
 <ion-content padding="true" class="has-header" scroll="false" >
 <p>
Send an email to <a href="#" ng-click="whatToDo.sendEmail('franjaud.stephane@live.fr')">example@email.com</a>
</p>
  </ion-content>
</ion-view>

