<ion-view hide-nav-bar="true" style="" hide-back-button="true"  id="page5" >
  <!-- #1. style -->  
    <ion-content  padding="true" class="back-home" scroll="true" style="background: url(img/fond.png) center; background-size: cover;">
 
    <form name="loginForm" class="list " id="login-form1">
            <ion-list class=" " id="login-list2">
 
                <div class="app-icon"></div>
 
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #9F9F9F;">Email</span>
                    <input ng-model="user.email" style="color: white;" type="email" placeholder="Email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label" style="color: #9F9F9F;" >Password</span>
                    <input ng-model="user.password" style="color: white;" type="password" placeholder="Password">
                </label>
 
            </ion-list>
 
            <div style="height: 40px;" class="spacer"></div>
            <button ng-click="loginEmail(loginForm,user)" class=" button button-assertive  button-block  icon-left ion-ios-email-outline "  id="signup-button3">LOGIN WITH EMAIL</button>
        
    <!-- #2. FB login-->
      <button ng-click="loginFb('facebook')" class=" button button-positive  button-block icon-left ion-social-facebook "  id="signup-button4">LOGIN WITH FACEBOOK</button>
        </form>
 
    <a class=" button button-stable  button-block button-clear icon-left ion-ios-email-outline " id="login-button5" ui-sref="tabsController.forgotPassword">FORGOT PASSWORD</a>
     <a  ui-sref="signup" id="login-button2" class="button button-positive  button-block button-clear">Vous n'avez pas de compte ? S'inscrire</a>
 
  </ion-content>
</ion-view>